@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.header {
  &__inner {
    @include media(md) {
      display: flex;
      flex-direction: column;

      padding-top: 16px;
      padding-bottom: 16px;

      border-bottom: 1px solid var(--border-divider);
    }

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    padding: 20px var(--gap);
  }

  &__left {
    @include media(md) {
      justify-content: space-between;
      width: 100%;
    }

    display: flex;
    align-items: center;
  }

  &__button-group {
    @include media(sm) {
      justify-content: space-between;
      width: 100%;
      margin-top: 12px;
    }

    display: flex;
    gap: 8px;
    margin-left: auto;
  }

  &__logo {
    flex: none;
  }

  &__btn {
    @include media(sm) {
      flex: 1;
      padding: 12px 14px;
      font-size: rem(14px);
      text-align: center;
    }

    font-weight: 600;
    white-space: nowrap;
  }

  &__lang {
    @include media(md) {
      margin-right: 8px;
      margin-left: auto;
    }

    margin-left: 12px;
  }

  &__nav {
    @include media(md) {
      display: none;
    }
  }
}
