@use '../utils/mixins' as *;

.about-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;

  &__text {
    @include media(sm) {
      margin-bottom: 32px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 870px;
    margin-bottom: 48px;
  }

  &__title {
    @include media(md) {
      font-size: rem(24px);
    }

    margin-bottom: 16px;

    font-size: rem(30px);
    font-weight: 600;
    line-height: 133%;
    text-align: center;
  }

  &__desc {
    max-width: 870px;
    line-height: 150%;
    color: var(--text);
    text-align: center;

    &--top {
      @include media(sm) {
        margin-top: 32px;
      }

      margin-top: 48px;
      margin-bottom: 0;
    }
  }

  &__image {
    @include media(sm) {
      padding-bottom: calc(240px / 328px * 100%);
    }

    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: calc(600px / 1200px * 100%);

    border-radius: 12px;

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
