@use '../utils/mixins' as *;

.blog-grid {
  @include media(md) {
    grid-template-columns: 1fr 1fr;
  }
  @include media(sm) {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px 24px;
}

.blog-item {
  $this: &;

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
      #{$this}__image {
        transform: scale(1.1);
      }
    }
  }

  &__preview {
    position: relative;

    overflow: hidden;

    height: 0;
    margin-bottom: 20px;
    padding-bottom: calc(260px / 364px * 100%);

    border-radius: 12px;
  }

  &__image {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: 0.25s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;

    padding: 8px;

    color: var(--white);
  }

  &__info-item {
    display: flex;
    gap: 4px;
    align-items: center;

    padding: 2px 6px;

    font-size: rem(12px);
    font-weight: 500;
    line-height: 150%;
    color: var(--white-base);

    background: rgb(16 16 16 / 40%);
    backdrop-filter: blur(2px);
    border-radius: 6px;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 150%;
  }

  &__desc {
    margin-bottom: 1rem;
    font-size: rem(14px);
    line-height: 143%;
    color: var(--text);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: auto;
  }

  &__tag {
    padding: 4px 10px;

    font-size: rem(14px);
    font-weight: 500;
    line-height: 143%;

    background: var(--tags-color);
    border-radius: 8px;

    transition: 0.25s;

    &:hover {
      color: var(--white);
      background: var(--black);
    }
  }
}

.blog-single {
  &__header {
    @include media(md) {
      flex-direction: column;
      gap: 12px;
      align-items: flex-start;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    @include media(md) {
      font-size: rem(26px);
    }

    font-size: rem(30px);
    font-weight: 600;
    letter-spacing: -0.01em;
  }

  &__info {
    display: flex;
    gap: 16px;
    align-items: center;

    font-size: rem(14px);
    color: var(--text);
  }

  &__info-item {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__preview {
    @include media(md) {
      margin-bottom: 32px;
    }

    @include media(sm) {
      padding-bottom: calc(220px / 328px * 100%);
    }

    position: relative;

    overflow: hidden;

    height: 0;
    margin-bottom: 60px;
    padding-bottom: calc(400px / 1200px * 100%);

    border-radius: 12px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content-wrapper {
    @include media(md) {
      flex-direction: column-reverse;
      gap: 48px;
    }

    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 700px;
  }

  &__sidebar {
    flex: none;
  }

  &__post-author {
    margin-bottom: 32px;
  }
}

.post-info {
  &__header {
    display: flex;
    gap: 16px;
    color: var(--text);
  }

  &__item {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__tags {
    display: flex;
    gap: 4px;
    margin-top: 16px;
  }

  &__tag {
    padding: 4px 10px;

    font-weight: 500;
    line-height: 143%;

    background: var(--tags-color);
    border-radius: 8px;

    &:hover {
      color: var(--white);
      background: var(--black);
    }
  }
}

.table-compare {
  $this: &;
  @include media(md) {
    border-radius: 12px;
  }

  overflow: hidden;

  width: 100%;

  font-size: rem(14px);
  font-weight: 400;
  line-height: 143%;

  border-style: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 0 0 1px var(--border-divider);

  &--no-highlight {
    #{$this}__body {
      #{$this}__tr {
        &:first-child {
          background: transparent;
        }
      }
    }
  }

  &__body,
  &__tr,
  &__th,
  &__td {
    display: block;

    padding: 0;

    font-weight: inherit;
    text-align: left;
    white-space: normal;
  }

  &__tr {
    @include media(lg, min-width) {
      display: table-row;
    }

    @include media(lg) {
      border-bottom: 1px solid var(--border-divider);

      &:last-child {
        border-bottom: 0;
      }

      &:first-child {
        background: rgb(147 63 255 / 8%);
        #{$this}__th {
          color: var(--white);
          background: var(--accent-purple);
        }
      }
    }

    position: relative;
  }

  &__th,
  &__td {
    @include media(lg, min-width) {
      display: table-cell;
      padding: 12px;
      border: 1px solid var(--border-divider);
    }

    padding: 6px 12px;
  }

  &__th[scope='row'] {
    @include media(lg) {
      padding: 10px 12px;
      background: var(--gray);
    }

    font-weight: 500;
  }

  &__td[data-title] {
    @include media(lg) {
      display: grid;
      grid-template-columns: 0.8fr 1.2fr;
      align-items: center;
      justify-content: space-between;

      font-weight: 500;
    }

    &::before {
      @include media(lg, min-width) {
        content: none;
      }

      content: attr(data-title);
      float: left;
      font-weight: 400;
    }
  }

  &__head {
    @include media(lg, min-width) {
      position: relative;

      overflow: auto;

      width: auto;
      height: auto;

      clip: auto;
    }

    position: absolute;

    overflow: hidden;

    width: 1px;
    height: 1px;
    padding: 0;

    font-weight: 500;

    clip: rect(1px 1px 1px 1px);
    border: 0;

    #{$this}__tr {
      background: var(--gray);
    }
  }

  &__body {
    @include media(lg, min-width) {
      display: table-row-group;
      #{$this}__tr {
        &:first-child {
          background: rgb(147 63 255 / 8%);
        }
      }
    }
  }

  &__icon {
    width: 24px !important;
    height: 24px !important;
  }
}

.price-col {
  @include media(md) {
    align-items: flex-end;
  }

  display: flex;
  flex-direction: column;

  &__gray {
    color: var(--text);
  }
}
