@use '../utils/mixins' as *;

.card-item {
  $this: &;
  @include media(md) {
    grid-column: span 6;
  }
  @include media(sm) {
    grid-column: span 12;
  }

  display: flex;
  grid-column: span 4;
  flex-direction: column;
  justify-content: space-between;

  &--editor {
    margin-top: 32px;
  }

  &--promoted {
    --card-offset: 6px;
    @include media(sm) {
      grid-column: span 12;
    }

    grid-column: span 6;
    #{$this}__image-gradient {
      padding: 2px;
      background: linear-gradient(71.51deg, #ffce1f 0%, #ec78ff 100%);
      border-radius: 12px;
    }
    #{$this}__image {
      border: 6px solid var(--white);
      border-radius: 12px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--row {
      @include media(md) {
        flex-direction: column;
      }

      flex-direction: row;
    }

    &:hover {
      #{$this}__image img {
        transform: scale(1.1);
      }
    }
  }

  &__image-gradient {
    flex: 1;
  }

  &__info {
    flex: 1;
  }

  &__name {
    display: flex;
    align-items: center;

    margin-bottom: 8px !important;

    font-size: rem(16px) !important;
    font-weight: 600 !important;
    line-height: 150% !important;

    svg {
      margin-left: 12px;
      transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    }
  }

  &__desc {
    font-size: rem(14px);
    line-height: 143%;
    color: var(--text);
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    position: relative;

    overflow: hidden;
    display: block;

    height: 0;
    padding-bottom: calc(220px / 384px * 100%);

    border-radius: 12px;

    &::before {
      content: '';

      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;

      display: block;

      width: 100%;
      height: 100%;

      opacity: 0.4;
      background: linear-gradient(180deg, rgb(16 16 16 / 0%) 50.3%, #101010 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      transition: transform 0.5s;
    }
  }

  &__views {
    position: absolute;
    z-index: 10;
    top: calc(var(--card-offset, 0px) + 8px);
    left: calc(var(--card-offset, 0px) + 8px);

    display: flex;
    gap: 4px;
    align-items: center;

    padding: 2px 6px;

    font-size: rem(12px);
    font-weight: 500;
    line-height: 150%;
    color: var(--white);

    background: rgb(16 16 16 / 40%);
    backdrop-filter: blur(2px);
    border-radius: 6px;
  }

  &__bottom {
    @include media(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: space-between;

    margin-top: 16px;
  }

  &__external-link {
    display: flex;
    gap: 6px;
    align-items: center;

    padding: 4px 10px;

    font-size: rem(14px);
    font-weight: 500;
    line-height: 143%;

    border: 1px solid var(--border-divider);
    border-radius: 8px;

    transition: all 0.5s;

    &:hover {
      color: var(--white);
      background: var(--accent-purple);
      border-color: transparent;
    }
  }
}

.card-payment {
  position: absolute;
  z-index: 10;
  bottom: calc(var(--card-offset, 0px) + 8px);
  left: calc(var(--card-offset, 0px) + 8px);

  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  &__item {
    padding: 4px 10px;

    font-size: rem(14px);
    font-weight: 500;
    line-height: 143%;

    background: var(--background, #ebebeb);
    border-radius: 8px;
  }
}
