@use '../utils/mixins' as *;

.features-editor {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    display: flex;
    align-items: center;

    margin-bottom: 8px;

    font-size: rem(16px);
    font-weight: 500;

    &::before {
      content: '';

      flex: none;

      width: 20px;
      height: 20px;
      margin-right: 8px;

      background: url('@/images/features.svg') no-repeat center center;
    }
  }

  &__desc {
    line-height: 150%;
    color: var(--text);
  }
}

.editor-content {
  max-width: 700px;
  line-height: 150%;

  b,
  strong {
    font-weight: 600;
    color: var(--black);
  }

  h2 {
    margin-bottom: 24px;

    font-size: rem(24px);
    font-weight: 600;
    line-height: 133%;
    letter-spacing: -0.01em;
  }

  h3 {
    margin-bottom: 20px;
    font-size: rem(20px);
    font-weight: 600;
  }

  h4 {
    margin-bottom: 20px;
    font-size: rem(16px);
    font-weight: 600;
  }

  h5 {
    margin-bottom: 20px;
    font-size: rem(14px);
    font-weight: 600;
  }

  h6 {
    margin-bottom: 20px;
    font-size: rem(16px);
    font-weight: 600;
    line-height: 150%;
  }

  picture {
    overflow: hidden;
    width: 100%;
    border: 1px solid var(--border-divider);
    border-radius: 12px;

    &:first-child:last-child {
      margin: 0;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  p {
    margin-bottom: 1.5rem;
    color: var(--text);

    &:last-child {
      margin: 0;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin: 16px 0;

    color: var(--text);
  }

  a {
    color: var(--accent-purple);
    text-decoration: underline;

    &:hover {
      color: #7e32e0;
    }
  }

  li {
    position: relative;
    padding-left: 1.2rem;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      flex: none;

      width: 6px;
      height: 6px;
      margin-top: 9px;
      margin-right: 8px;

      background: var(--black);
      border-radius: 1px;
    }
  }
}

.gallery-grid {
  @include media(md) {
    grid-template-columns: 1fr 1fr;
  }
  @include media(sm) {
    overflow: auto;
    display: flex;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;

  &__item {
    @include media(sm) {
      flex: none;
      width: 260px;
    }

    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: calc(160px / 228px * 100%);

    border-radius: 12px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.cta-subscribe {
  padding: 20px;
  background: var(--gray);
  border: 1px solid var(--border-divider);
  border-radius: 12px;

  &__title {
    margin-bottom: 8px;

    font-size: rem(20px);
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.01em;
  }

  &__desc {
    margin-bottom: 40px;
    line-height: 150%;
    color: var(--text);
  }
}

.content-block {
  margin: 24px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.figure-block {
  $this: &;

  &__link {
    position: relative;

    overflow: hidden;
    display: block;

    margin-bottom: 12px;

    border-radius: 12px;

    &:hover {
      #{$this}__hover {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__hover {
    user-select: none;

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    visibility: hidden;
    opacity: 0;
    background: rgb(16 16 16 / 70%);

    transition: 0.5s;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__caption {
    font-size: rem(12px);
    line-height: 150%;
    color: var(--text);
  }
}
