@use '../utils/mixins' as *;

.editor-content {
  max-width: 720px;

  h2 {
    margin-bottom: 20px;
    font-size: rem(24px);
    font-weight: 600;
  }

  h3 {
    margin-bottom: 20px;
    font-size: rem(20px);
    font-weight: 600;
  }

  h4 {
    margin-bottom: 10px;
    font-size: rem(16px);
    font-weight: 600;
  }

  h5 {
    margin-bottom: 10px;
    font-weight: 600;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 150%;
    color: var(--text);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
