@use '../utils/mixins' as *;

.features-editor {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    display: flex;
    align-items: center;

    margin-bottom: 8px;

    font-size: rem(16px);
    font-weight: 500;

    &::before {
      content: '';

      flex: none;

      width: 20px;
      height: 20px;
      margin-right: 8px;

      background: url('@/images/features.svg') no-repeat center center;
    }
  }

  &__desc {
    line-height: 150%;
    color: var(--text);
  }
}

.editor-content {
  @include media(md) {
    gap: 24px;
  }

  display: flex;
  flex-direction: column;
  max-width: 700px;
  line-height: 150%;

  h2 {
    margin-bottom: 24px;

    font-size: rem(24px);
    font-weight: 600;
    line-height: 133%;
    letter-spacing: -0.01em;
  }

  h3 {
    margin-bottom: 20px;
    font-size: rem(20px);
    font-weight: 600;
  }

  h4 {
    margin-bottom: 20px;
    font-size: rem(16px);
    font-weight: 600;
  }

  h5 {
    margin-bottom: 20px;
    font-size: rem(14px);
    font-weight: 600;
  }

  h6 {
    margin-bottom: 20px;
    font-size: rem(16px);
    font-weight: 600;
    line-height: 150%;
  }

  img {
    width: 100%;
    height: auto;
    margin-top: 16px;
    margin-bottom: 24px;

    border: 1px solid var(--border-divider);
    border-radius: 12px;
  }

  p {
    margin-bottom: 1.5rem;
    color: var(--text);

    &:last-child {
      margin: 0;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin: 16px 0;

    color: var(--text);
  }

  a {
    text-decoration: dotted;
  }

  li {
    display: flex;

    &::before {
      content: '';

      flex: none;

      width: 6px;
      height: 6px;
      margin-top: 9px;
      margin-right: 8px;

      background: var(--black);
      border-radius: 1px;
    }
  }
}

.gallery-grid {
  @include media(md) {
    grid-template-columns: 1fr 1fr;
  }
  @include media(sm) {
    overflow: auto;
    display: flex;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  margin: 24px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &__item {
    @include media(sm) {
      flex: none;
      width: 260px;
    }

    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: calc(160px / 228px * 100%);

    border-radius: 12px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.cta-subscribe {
  padding: 20px;
  background: var(--gray);
  border: 1px solid var(--border-divider);
  border-radius: 12px;

  &__title {
    margin-bottom: 8px;

    font-size: rem(20px);
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.01em;
  }

  &__desc {
    margin-bottom: 40px;
    line-height: 150%;
    color: var(--text);
  }
}
