@use '../utils/mixins' as *;

@keyframes from-left {
  0% {
    left: -50%;
  }

  100% {
    left: 100%;
  }
}

.hero-coming-soon {
  position: relative;

  overflow: hidden;
  display: inline-flex;
  align-items: center;

  margin: auto;
  padding: 8px 12px;

  background: linear-gradient(85.41deg, rgb(147 63 255 / 20%) -0.36%, rgb(245 181 105 / 20%) 99.64%);
  border-radius: 10px;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-15deg);

    width: 100px;
    height: 100px;

    background: var(--coming-soon-gradient);

    animation: from-left 3s infinite;
  }

  &__text {
    position: relative;
    z-index: 10;

    margin-right: 8px;

    font-size: rem(20px);
    font-weight: 600;

    background: linear-gradient(85.41deg, #933fff -0.36%, #f569ac 99.64%), #10101000;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }

  &__btn {
    position: relative;
    z-index: 10;

    padding: 5px 8px;

    font-size: rem(14px);
    font-weight: 500;
    font-weight: 500;

    background: var(--white);
    border-radius: 10px;
  }
}

.hero {
  $this: &;

  @include media(md) {
    padding-top: 32px;
    padding-bottom: 0;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  &--bottom {
    padding-bottom: 30px;
  }

  &__heading {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 8px;
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    border: 1px solid var(--border-divider);
    border-radius: 50%;

    transition: background 0.5s;

    &:hover {
      background: var(--tags-color);
    }
  }

  &__text {
    @include media(md) {
      max-width: 100%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 540px;
    margin: 0 auto;

    &--back {
      #{$this}__heading {
        @include media(md) {
          flex-direction: column;
          gap: 16px;
          align-items: flex-start;
        }
      }

      #{$this}__title {
        @include media(md) {
          text-align: left;
        }
      }
      #{$this}__desc {
        @include media(md) {
          text-align: left;
        }
      }
    }
  }

  &__coming-soon {
    margin-bottom: 20px;
  }

  &__title {
    @include media(md) {
      font-size: rem(26px);
    }

    font-size: rem(30px);
    font-weight: 600;
    line-height: 133%;
    text-align: center;
    letter-spacing: -0.01em;
  }

  &__desc {
    margin-top: 16px;
    line-height: 150%;
    color: var(--text);
    text-align: center;
  }

  &__search {
    width: 100%;
    margin-top: 32px;
  }

  &__categories {
    @include media(md) {
      margin-top: 8px;
    }

    margin-top: 32px;
  }
}

.hero-update {
  margin-bottom: 16px;
  padding: 4px 12px;

  font-size: rem(14px);

  border: 1px solid var(--border-divider);
  border-radius: 10px;
}
