.lang-select {
  cursor: pointer;
  border: none;

  &:hover {
    background: var(--tags-color);
  }

  .custom-select__arrow {
    margin-left: 6px;
  }
}

.lang-switcher {
  position: absolute;
  z-index: 12;
  top: 100%;
  left: 0;

  width: 100%;
  margin-top: 3px;

  background: var(--white);
  border: 1px solid var(--border-divider);
  border-radius: 4px;

  &__item {
    color: var(--placeholder);
    border-bottom: 1px solid var(--border-divider);

    &:hover {
      background: var(--tags-color);
    }

    &:last-child {
      border: none;
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 4px 8px;
    color: var(--black);
  }
}
