@use '../utils/mixins' as *;

.modal-submit {
  @include media(md) {
    top: 56px;
    max-height: calc(100vh - 56px);
  }
  @include media(md) {
    padding-right: var(--gap);
    padding-left: var(--gap);
  }

  position: fixed;
  z-index: 1010;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -10%);

  overflow-y: auto;

  width: 100%;
  max-width: 560px;
  max-height: calc(100vh - 100px);

  visibility: hidden;
  opacity: 0;

  transition: 0.5s;

  &.is-open {
    transform: translate(-50%, 0%);
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    @include media(md) {
      padding: 16px;
    }

    position: relative;
    padding: 30px;
    background: var(--gray);
    border-radius: 12px;
  }

  &__close {
    cursor: pointer;

    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    color: var(--black);

    border-radius: 12px;

    &:hover {
      background: var(--tags-color);
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__heading {
    @include media(md) {
      margin-bottom: 12px;
    }

    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__text {
    max-width: 400px;
  }

  &__title {
    @include media(md) {
      font-size: rem(20px);
    }

    margin-right: 12px;
    font-size: rem(24px);
    font-weight: 600;
  }

  &__desc {
    line-height: 150%;
    color: var(--text);
  }
}

.modal-subscribe {
  @include media(md) {
    padding-right: var(--gap);
    padding-left: var(--gap);
  }

  position: fixed;
  z-index: 1010;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);

  overflow-y: auto;

  width: 100%;
  max-width: 560px;
  max-height: 100vh;

  visibility: hidden;
  opacity: 0;

  transition: 0.5s;

  &.is-open {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    @include media(md) {
      padding: 16px;
    }

    position: relative;
    padding: 30px;
    background: var(--gray);
    border-radius: 12px;
  }

  &__close {
    cursor: pointer;

    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 12px;

    &:hover {
      background: var(--tags-color);
    }
  }

  &__form {
    @include media(md) {
      margin-top: 16px;
    }

    margin-top: 24px;
  }

  &__submit {
    margin-top: 0 !important;
  }

  &__image {
    @include media(md) {
      width: 60px;
      height: 60px;
      margin-bottom: 16px;
    }

    width: 80px;
    height: 80px;
    margin-bottom: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    @include media(md) {
      margin-bottom: 12px;
      font-size: rem(20px);
    }

    margin-bottom: 16px;
    font-size: rem(24px);
    font-weight: 600;
  }

  &__desc {
    line-height: 150%;
    color: var(--text);
  }
}

.modal-wrapper {
  position: fixed;
  z-index: 1010;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;

  transition: 0.5s;

  &::before {
    content: '';

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    display: block;

    width: 100vw;
    height: 100%;

    visibility: hidden;
    opacity: 0;
    background: rgb(16 16 16 / 80%);
    backdrop-filter: blur(3px);

    transition: 0.5s;
  }

  &.is-open {
    visibility: visible;
    opacity: 1;

    &::before {
      visibility: visible;
      opacity: 1;
    }
  }
}
