.page-desc {
  max-width: 834px;
  margin: auto;
  margin-top: 40px;

  line-height: 150%;
  color: var(--text);
  text-align: center;

  p {
    margin-bottom: 1.2rem;

    &:last-child {
      margin: 0;
    }
  }
}
