@use '../utils/mixins' as *;

.post-nav {
  @include media(md, min-width) {
    position: sticky;
    top: 20px;
    right: 0;
  }

  &__title {
    margin-bottom: 24px;
    font-size: rem(24px);
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

  &__link {
    display: flex;
    color: var(--text);
    white-space: nowrap;
    border-bottom: 1px dashed var(--text);

    &::before {
      content: '';

      flex: none;

      width: 6px;
      height: 6px;
      margin-top: 9px;
      margin-right: 8px;

      background: currentcolor;
      border-radius: 1px;
    }

    &:hover {
      color: var(--accent-purple);
    }

    &--current {
      color: var(--accent-purple);
      border: none;
    }
  }
}
