@use '../utils/mixins' as *;

.search {
  &__input {
    @include media(md) {
      max-width: 100%;
    }

    display: block;

    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 12px 16px;

    border: 1px solid var(--border-divider);
    border-radius: 12px;

    &::placeholder {
      line-height: 143%;
      color: var(--placeholder);
    }
  }
}
