.dark {
  .logo {
    &__src {
      &--light {
        display: none;
      }

      &--dark {
        display: block;
      }
    }
  }
}

.theme-switcher {
  &--mobile {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}
