@use '../utils/mixins' as *;

.btn {
  cursor: pointer;

  display: inline-block;

  padding: 12px 20px;

  font-size: rem(14px);
  font-weight: 600;

  border-radius: 8px;

  transition: background 0.5s;

  &--primary {
    color: var(--white-base);
    background: var(--accent-purple);

    &:hover {
      background: #7e32e0;
    }
  }

  &--secondary {
    border: 1px solid var(--border-divider);

    &:hover {
      background: var(--tags-color);
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: var(--placeholder);
    background: var(--tags-color);
  }

  &--sign-in {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__arrow {
    margin-left: 12px;
  }
}
