-
  locals.menu = [
    {
      name:'Tool',
      link: 'card.html'
    },
    {
      name:'About us',
      link:'about-us.html'
    },
    {
      name:'Tool tag',
      link:'card-tag.html'
    },
    {
      name:'Jobs',
      link:'jobs.html'

    },
    {
      name:'All categories',
      link:'categories.html'
    }
  ]

