@use './mixins' as *;

:root {
  --container: 1264px;
  --gap: 32px;
  --gap-y: 50px;

  @each $breakpoint, $val in $breakpoints {
    @if $val > 1200px {
      $val: 1200px;
    }
    @include media($breakpoint) {
      --container: #{$val};
    }
  }
  @include media(md) {
    --gap: 20px;
    --gap-y: 25px;
  }
}

:root {
  --accent-purple: #933fff;
  --accent-yellow: #f5e769;
  --accent-green: #e6fe51;
  --white: #fff;
  --black: #101010;
  --text: #606060;
  --placeholder: #aaa;
  --border-divider: #dcdcdc;
  --tags-color: #ebebeb;
}
